body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.bloc {
  height: 50px;
  width: 50px;
  background-color: aquamarine;
  border: 1px solid white;
}

.blocRow {
  display: flex;
}


.pContainer {
      display: flex;
    flex-direction: column;
}

.board {
      margin: 0 auto;
}

.start {
  background-color: green;
}

.end {
  background-color: red;
}

.bloc:hover {
  background-color: royalblue;
}